body {
}
hgroup h1 a {
  color: black;
}
* {
  line-height: 1.4em;
}
nav a{
  margin-right: 1em;
  text-decoration: underline;
  font-size: 18px;
}
nav {
  margin-bottom: 1em;

}

.page {
}
.page .page_title {
  border-left: solid 10px red;
  padding-left: 1em;
}
.page h1 {
  font-size: 20px;
}

.page h2 {
  font-size: 18px;
}
.page h3 {
  font-size: 16px;
}
.page .date {
  margin-top: 10px;
}
.page li {
  margin-left: 1em;
}
.page_content {
  border:   black solid 5px;

  padding: 1em;
}


#sidebar h1 {
  font-size: 20px;
}

#archive li a {
  text-decoration: underline;
}



