body {
}
hgroup h1 a {
  color: black;
  text-shadow: 1px 1px #cccccc;

}
hgroup h2 {
  margin-top: -20px;
  font-size: 16px;
}
a {
  color: #c0392b;
}
h1 {

  color: #c0392b;
}

* {
  line-height: 1.4em;
}
nav a{
  margin-right: 1em;
  font-size: 20px;
  text-decoration: underline;
}
nav {
  /* border-bottom: solid 2px #ccc; */
  padding-bottom: 1em;
  margin-bottom: 1em;
  margin-top: 1em;

}

.border {
  margin-top: -20px;
  border-bottom: solid 1px #ccc;
}

.page {
}
.page .page_title a {
  color: #c0392b;
}
.page h1 {
  font-size: 20px;
}

.page h2 {
  font-size: 18px;
}
.page h3 {
  font-size: 16px;
}
.page .date {
  margin-top: 10px;
}
.page .date a {
  color: black;
  text-decoration: underline;
}
.page li {
  margin-left: 1em;
}
.page_content {
  border:   black solid 5px;

  padding: 1em;
}

#sidebar h1 {
  font-size: 20px;
}
#sidebar dl dt img {
  padding: 10px 0px;
}
#sidebar a {
  display: block;
}
#sidebar dd {
}

#archive li a {
  text-decoration: underline;
}

#archive .date {
  display: block;
}


.hatebu {
  float: right;
}
