body {
  background: #ecf0f1;
}
hgroup {
  padding-top: 30px;
}
hgroup h1 a {
  color: white;
  font-size: 50px;
}
a {
  color: #c0392b;
}
a:hover {
}
h1 {
  color: #c0392b;
}

* {
  line-height: 1.4em;
}
nav a{
  margin-right: 1em;
  font-size: 20px;
  text-decoration: underline;
  color: #303030;
  line-height: 30px;
}
.header {
  background: #303030;
}
#nav_wrapper {
  background: white;
}
nav {
  margin-bottom: 1em;
  margin-top: 1em;
  height: 30px;

}
nav div {
  float: left;
  padding-right: 20px;
}
.page {
  margin-top: 30px;
}
#sidebar {
  margin-top: 30px;
}



.page .page_title a {
  color: #c0392b;
}
.page h1 {
  padding-bottom: 20px;
  font-size: 20px;
  line-height: 30px;
  height: 30px;
}

.page h2 {
  font-size: 18px;
}
.page h3 {
  font-size: 16px;
}
.page .date {
  float: right;
}
.page .date a {
  color: black;
  text-decoration: underline;
}
.page li {
  margin-left: 1em;
}
.page_content {

  padding: 20px 0px;

}

#sidebar h1 {
  font-size: 20px;
}
#sidebar dl dt img {
  padding: 10px 0px;
}
#sidebar a {
  display: block;
}
#sidebar dd {
}

#archive ul li {
  font-weight: bold;
}

#archive .date {
  font-weight: normal;
}
#archive .item {
  padding: 10px;
  background: white;
  margin-bottom: 30px;
}
#archive .tags {
}

#archive li a {
}

#archive .date {
  display: block;
}


.hatebu {
  float: right;
}
.codehilite pre{

  padding: 10px;
}
.tags a{
  padding-right: 5px;
  color: #3498db;
}


.clearfix {zoom:1;}
.clearfix:after {
  content: "";
  display: block;
  clear: both;
}
footer {
  margin-top: 40px;
  height: 120px;
  background: #303030;
}

.codehilite{
  padding-bottom: 20px;

}
