{% extends "base.html" %}
{% block content %}

<section class="item">
<h2>このブログについて</h2>
このブログでは <a href="https://twitter.com/outsider_0219">outsider_0219</a> の日々思ったことやWeb、アプリ開発で躓いたことやメモしたことを書き残しています。
</section>


<section class="item">
<h2>作者について</h2>
<p>自分の作ったサービスで身の丈に見合うような生活をしていくのを目指しています。</p>
<p>最近はPython+Flaskを使ったWebアプリケーション開発を行っています。</p>
<p>また、ダンスをしたり、岡村靖幸の大ファンでもあります。</p>


</section>

<section class="item last_section">
<h2>連絡先</h2>
<a href="mailto:haradashinya@gmail.com">連絡先はこちら</a>
</section>

<section class="item last_section">
<h2>プライバシーポリシー</h2>
本サイトでは、Google Adsense社の広告を配信しています
このため、広告配信プロセスの中でデータを収集するために、
Cookieやウェブビーコンを使用しています。
もし、第三者にデータ送信を行いたくない場合は、
ブラウザのCookie機能をオフにしてアクセスしてください。
詳しくは、Adsense広告の、公式プライバシーポリシーをご覧ください。
</section>




{% endblock content %}

