{% extends "base.html" %}
{% block content %}
<div class="page">
    <h1>My Apps</h1>
    <div id="iphone-apps">
        <div id="translater">
        <a href="https://itunes.apple.com/us/app/fan-yinyusu/id547876926?ls=1&mt=8">翻訳ニュース</a>
        <p>
        VOAニュースを英語の原稿と、日本語の原稿で同時に学べるようにしたアプリ。日本語の翻訳にはエキサイト翻訳を使用したけど、結構実用的なので自分でも使っている。
        </p>
        </div>

        <div id="simple-graph">
            <a href="https://itunes.apple.com/us/app/simplegraph/id590621717?mt=8">Simple Graph</a>
            <p>
            数式を入力したら、それをグラフにするアプリ。弟が高校の受験を控えているので作ってみた。ちょっとした数式を閲覧するのに便利。カスタムキーボードを作るのが面倒だった。
            </p>
        </div>

        <div id="magicnumber">
					<a href="https://itunes.apple.com/us/app/magicnumber/id556818950?ls=1&mt=8">Magic Number</a>
            <p>数字を使った脳トレアプリ。</p>
        </div>

        <div id="i-score">
					<a href="https://itunes.apple.com/us/app/i-score/id546256235?ls=1&mt=8">i-score</a>

            <p>
            野球をする人のためのアプリ。
            打ったゾーンと、その場所の結果を記録して、ゾーンごとの打率を分析するアプリ。
            </p>
        </div>

        <div id="findme">
            <a href="https://itunesconnect.apple.com/WebObjects/iTunesConnect.woa/wo/93.0.9.9.3.11.11.3.0.4.9.1">ファインドミー</a>

            <p>
            フォロワーさんのTwitterのつぶやきを利用したクイズアプリ。
            </p>
        </div>
    </div>
</div>

{% endblock %}
