<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="utf-8">
<title>iPhneアプリ開発で独り立ちを目指すブログ</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0,user-scallable=no">
<script>document.write('<script src="http://' + (location.host || 'localhost').split(':')[0] + ':35729/livereload.js?snipver=1"></' + 'script>')</script>
<meta name="description" content="iPhoneアプリの開発者ブログ Pythonも好き.">
<meta name="keywords" content="Iphone,ios,iphone,web programming programmer android ブログ アプリ Python Web html5">

<meta name="author" content="">
<link rel="stylesheet" href="/static/css/prism.css"/>
<link rel="stylesheet" href='/static/css/github.css'/>
<link rel="stylesheet" href="/static/css/normalize.css"/>

<link rel="stylesheet" href="/static/css/foundation.min.css"/>

<link rel="stylesheet" href="/static/css/base.css"/>
<script type="text/javascript" src="https://www.google.com/jsapi"></script>

</head>

<body>

  


<div class="row">
  <div class="large-12 small-12 columns">
    <hgroup>
    <h1><a href="/">iPhoneアプリ開発で生活できるのか?</a></h1>
    <h2>--- iPhoneアプリを開発したりしなかったり ----</h2>
    </hgroup>
  </div>
</div>




<div class="row">
  <div class="large-12 columns">
    <nav>
      <a href="/archive">アーカイブ</a>
      <a href="/start/detail">内情</a>
      <a href="/rss">RSS</a>
    </nav>
  </div>

</div>

<div class="border">
</div>


<div class="row">
  <div class="large-9 columns">
    <div class="page">
      {% block content %}
      {% endblock content %}
    </div>
  </div>

  <div class="large-3 small-12 columns" id="sidebar">
    <section>
      <h1>作ったアプリ</h1>

      <dl>
        <dt>
        <a href="https://itunes.apple.com/us/app/fan-yinyusu/id547876926?ls=1&mt=8">翻訳ニュース</a>
        <a href="https://itunes.apple.com/us/app/fan-yinyusu/id547876926?ls=1&mt=8">
        <img src="/static/img/icon.png" width="170" height="170" alt="翻訳ニュース">
        </a>

        </dt>
        <dd>
        VOAニュースを英語の原稿と、日本語の原稿で同時に学べるアプリ。
        </dd>
      </dl>

      <dl>
        <dt>
        <a href="https://itunes.apple.com/us/app/wiki-path/id656519714?ls=1&mt=8">Wiki Path</a>
        <a href="https://itunes.apple.com/us/app/wiki-path/id656519714?ls=1&mt=8"><img src="/static/img/wikipath.png" alt="wikipath" width="170" height="170">
        </a>

        </dt>
        <dd>
        Wikipediaのリンク縛りで,クリックしていって目的の単語までいかに少ないクリック数でたどり着くかを競うゲーム。
        </dd>
      </dl>
    </section>

    <section>
      <h1>このブログについて</h1>
      <p>

      プログラミングとかをしていて思ったことや学んだことを書いていきます。
      </p>
      
      <p>
      <a href="https://twitter.com/outsider_0219">Twitterでフォローする</a>
      </p>
    </section>

  </div>
</div>









<script src="/static/js/rainbow.js"></script>
<script src="/static/js/languages/javascript.js"></script>
<script src="/static/js/languages/generic.js"></script>
<script src="/static/js/languages/python.js"></script>
<script src="/static/js/jquery.js"></script>


<!--google analytics-->
<script type="text/javascript">

  var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-15508754-4']);
	  _gaq.push(['_trackPageview']);

	    (function() {
			    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
				    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
					    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
						  })();
// google feed


google.load("feeds","1");
var init = function(){
};
google.setOnLoadCallback(init);

</script>

</div>

</body>

</html>


