<!DOCTYPE html>
<html lang="ja">
<head>
  {% if page %}
  <title>{{title}} - Pickalize </title>
  {% else %}
  <title>Pickalize -- Pythonとか、iOSとか</title>
  {% endif %}

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0,user-scallable=no">
<meta name="description" content="iPhoneアプリの開発者ブログ Pythonも好き.">
<meta name="keywords" content="python,ios,翻訳ニュース,wikipath">
<meta name="author" content="nobinobiru">
<link href='http://fonts.googleapis.com/css?family=Cabin+Condensed:400,500' rel='stylesheet' type='text/css'>

<link href='http://fonts.googleapis.com/css?family=Chau+Philomene+One' rel='stylesheet' type='text/css'>

<link rel="stylesheet" href="/static/css/prism.css"/>
<link rel="stylesheet" href='/static/css/github.css'/>
<link rel="stylesheet" href="/static/css/normalize.css"/>

<link rel="stylesheet" href="/static/css/foundation.min.css"/>

<link rel="stylesheet" href="/static/css/base.css"/>
<script type="text/javascript" src="https://www.google.com/jsapi"></script>
</head>
<body>
<div class="header">
<div class="row">
  <div class="large-12 small-12 columns">
    <hgroup>
    <h1><a href="/">Pickalize</a></h1>
    </hgroup>
  </div>
</div>




<div id="nav_wrapper">
<div class="row">
  <div class="clearfix large-12 small-12 columns">
    <nav>
      <div class=""><a href="/archive">Archive</a></div>
      <div class="hide-for-small">
        <a href="/rss">RSS</a>
      </div>
    </nav>
  </div>
</div>
</div>
</div>


<div class="row">
  <div class="large-12 small-12 columns">
    <div class="page main">
      {% block content %}
      {% endblock content %}
    </div>
  </div>
</div>


<footer>
<div class="row">
  <div class="large-12 small-12 columns">
  </div>
</footer>









<script src="/static/js/rainbow.js"></script>
<script src="/static/js/languages/javascript.js"></script>
<script src="/static/js/languages/generic.js"></script>
<script src="/static/js/languages/python.js"></script>
<script src="/static/js/jquery.js"></script>


<!--google analytics-->
<script type="text/javascript">

  var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-15508754-4']);
	  _gaq.push(['_trackPageview']);

	    (function() {
			    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
				    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
					    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
						  })();
// google feed


google.load("feeds","1");
var init = function(){
};
google.setOnLoadCallback(init);

</script>


</body>

</html>


