<!DOCTYPE html>
<html lang="ja">
<head>
  {% if page %}
  <title>{{title}} - Pickalize </title>
  {% else %}
  <title>Pickalize</title>
  {% endif %}

<meta charset="utf-8">
<META NAME="ROBOTS" CONTENT="INDEX,FOLLOW,ARCHIVE"
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="author" content="nobinobiru">
<link href='http://fonts.googleapis.com/css?family=Cabin+Condensed:400,500' rel='stylesheet' type='text/css'>

<link href='http://fonts.googleapis.com/css?family=Chau+Philomene+One' rel='stylesheet' type='text/css'>

<link rel="stylesheet" href="/static/css/prism.css"/>
<link rel="stylesheet" href='/static/css/github.css'/>
<link rel="stylesheet" href="/static/css/normalize.css"/>

<link rel="stylesheet" href="/static/css/foundation.min.css"/>

<link rel="stylesheet" href="/static/css/base.css"/>
<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<meta name="google-site-verification" content="m0g7oa4aDFlxErEoYhS3rtwEpKaTazzp5pgkMUHG1ho" />
<style>
.pickalize02 { width: 320px; height: 50px; }
@media(min-width: 500px) { .pickalize02 { width: 468px; height: 60px; } }
@media(min-width: 800px) { .pickalize02 { width: 728px; height: 90px; } }
</style>
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- pickalize02 -->
<ins class="adsbygoogle pickalize02"
    style="display:inline-block"
    data-ad-client="ca-pub-0004560833257704"
    data-ad-slot="6772087307"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>



<meta name="keywords" content="{{keywords}} ">
<meta name="description" content="{{desc}} ">

</head>

<body>
{{keywords}}
<div class="header">
<div class="row">
  <div class="large-12 small-12 columns">
    <hgroup>

    <h1><a href="/">Pickalize</a></h1>
    </hgroup>
  </div>
</div>

<div id="nav_wrapper">
<div class="row">
  <div class="clearfix large-12 small-12 columns nav">
    <nav>
      <div class="">
        <a href="/works">つくった</a>
      </div>

      <div class="hide-for-small">
        <a href="/about">About</a>
      </div>

      <div class="hide-for-small">
        <a href="/rss">RSS</a>
      </div>


    </nav>
  </div>
</div>
</div>
</div>


<div class="row">
  <div class="large-12 small-12 columns">
    <div class="page main">
      {% block content %}
      {% endblock content %}

    </div>
  </div>
</div>












<script src="/static/js/jquery.js"></script>


<!--google analytics-->
<script type="text/javascript">


  var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-15508754-4']);
	  _gaq.push(['_trackPageview']);

	    (function() {
			    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
				    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
					    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
						  })();
// google feed


google.load("feeds","1");
var init = function(){
};
google.setOnLoadCallback(init);

</script>


</body>

</html>


