<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="utf-8">
<title>{{title}} - Pickalizeのブログ</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0,user-scallable=no">
<meta name="description" content="iPhoneアプリの開発者ブログ Pythonも好き.">
<meta name="keywords" content="python,ios,翻訳ニュース,wikipath">

<meta name="author" content="">
<link rel="stylesheet" href="/static/css/prism.css"/>
<link rel="stylesheet" href='/static/css/github.css'/>
<link rel="stylesheet" href="/static/css/normalize.css"/>

<link rel="stylesheet" href="/static/css/foundation.min.css"/>

<link rel="stylesheet" href="/static/css/base.css"/>
<script type="text/javascript" src="https://www.google.com/jsapi"></script>
</head>