{% extends "base.html" %}




{% block content %}
{% for page in pages %}
<section>
  <dl>
    <dt class="page_title"><h1><a href="{{page.path+'/detail'}}">{{page.title}}</a></h1></dt>

    <div class="tags">
      {% if page.tags %}
      {% for tag in page.tags.split(",") %}
      <a href="/tags/{{tag}}">{{tag}}</a>
      {% endfor %}
      {% endif %}
    </div>
    <dd>


    <div class="page_content">
      {{" ".join( page.body.split("\n")[0:1]) |safe}}
      <br><br>
      <p>
      <a href="{{page.path+'/detail'}}">(続きを読む)</a>
      </p>
    </div>
    </dd>

  </dl>

</section>
{% endfor %}


{% endblock content %}
