{% extends "base.html" %}




{% block content %}
{% for page in pages %}
<section class="item">


    <h2 class="title"><a class="" href="{{page.path+'/detail'}}">{{page.title}}</a></h2>

    <div class="tags">
      {% if page.tags %}
      {% for tag in page.tags.split(",") %}
      <a href="/tags/{{tag}}">{{tag}}</a>
      {% endfor %}
      {% endif %}
    </div>


    <div class="page_content">
      {{" ".join( page.body.split("\n")[0:1]) |safe}}
      <br><br>
      <a href="{{page.path+'/detail'}}">(続きを読む)</a>
    </div>


</section>
{% endfor %}


{% endblock content %}
