{% extends "base.html" %}

{% block content %}

<section>
  <h1>
    {{page.title}}
  </h1>
  {% if page.tags %}


  <div class="tags">
  {% for tag in page.tags.split(",") %}


    <a href="/tags/{{tag}}">{{tag}}</a>




  {% endfor %}

  </div>

  {% endif %}


  <div class="page_content">
    {{page}}
    <div class="date">
    {{page.date}}
    </div>
  </div>



  <div class="row">
    <div class="large-1 small-1 columns">
      <a href="http://pickalize.info" class="hatena-bookmark-button" data-hatena-bookmark-title="{{page.title}}" data-hatena-bookmark-layout="standard" title="このエントリーをはてなブックマークに追加"><img src="http://b.st-hatena.com/images/entry-button/button-only.gif" alt="このエントリーをはてなブックマークに追加" width="20" height="20" style="border: none;" /></a><script type="text/javascript" src="http://b.st-hatena.com/js/bookmark_button.js" charset="utf-8" async="async"></script>
    </div>
  </div>
</section>
{% endblock  content %}


