{% extends "base.html" %}

{% block content %}

<section>
  <div class="row">
    <div class="small-12 columns">
        <h1 class="title">{{page.title}} -- {{page.date}}</h1>
    </div>
  </div>

  <div class='row'>
  {% if page.tags %}
  <div class="tags">
  {% for tag in page.tags.split(",") %}
  <div class="small-4 columns">
    <a href="/tags/{{tag}}">{{tag}}</a>
  </div>
  {% endfor %}

  </div>

  {% endif %}
  </div>


  <div class="row">
    <div class="small-12 columns">
      <div class="page_content">
        {{page}}
      </div>
    </div>



  <div class="row">
    <div class="large-12 small-12 columns hatebu">
      <a href="http://pickalize.info" class="hatena-bookmark-button" data-hatena-bookmark-title="{{page.title}}" data-hatena-bookmark-layout="standard" title="このエントリーをはてなブックマークに追加"><img src="http://b.st-hatena.com/images/entry-button/button-only.gif" alt="このエントリーをはてなブックマークに追加" width="20" height="20" style="border: none;" /></a><script type="text/javascript" src="http://b.st-hatena.com/js/bookmark_button.js" charset="utf-8" async="async"></script>
    </div>
  </div>
</section>
{% endblock  content %}


