{% extends "base.html" %}


{% block content %}


<section>

  <dl>
    <dt class="page_title"><h1>{{page.title}} </h1></dt>
    <dd>


    <div class="page_content">
      {{page}}
    </div>

    </dd>
    </p>
  </dl>


  <div class="clearfix">
    <a class="hatebu" href="http://b.hatena.ne.jp/entry/http://www.pickalize.info" class="hatena-bookmark-button" data-hatena-bookmark-title="Pickalize.info" data-hatena-bookmark-layout="standard-balloon" data-hatena-bookmark-lang="ja" title="このエントリーをはてなブックマークに追加"><img src="http://b.st-hatena.com/images/entry-button/button-only@2x.png" alt="このエントリーをはてなブックマークに追加" width="20" height="20" style="border: none;" /></a><script type="text/javascript" src="http://b.st-hatena.com/js/bookmark_button.js" charset="utf-8" async="async"></script>
  </div>
  <p class="date">
  <a href="{{page.path}}">{{page.date}}</a>

  </p>






</section>
{% endblock %}


