{% extends "base.html" %}
{% block content %}

<div class="page">
<div id="profile">
  <div class="row">
    <div class="twelve cols">
      <hgroup>
        <h1>なにか作ったもの</h1>

      </hgroup>
    </div>
  </div>

  <div class="row">
    <div class="twelve cols">

    <h2>iPhoneアプリたち</h2>
      <dl>
        <dt><a href="https://itunes.apple.com/us/app/fan-yinyusu/id547876926?mt=8">翻訳ニュース</a></dt>
        <dd>
        語学学習に定評のあるニュースチャンネル YoutubeのVOAチャンネルを活用して英語学習するアプリ。
        </dd>
      </dl>

      <dl>
        <dt><a href="https://itunes.apple.com/it/app/faindomi/id541924008?mt=8">ファインドミー</a></dt>
        <dd>
        ツイッターって、その人のつぶやく内容だけで、いったい誰なのか、大体想像つくことが結構ありますよね?さぁ、一体誰が呟いたのかを当てましょう！


        </dd>
      </dl>

      <dl>
        <dt><a href="https://itunes.apple.com/it/app/shootingbird/id604409048?mt=8">ShootingBird</a></dt>
          <dd>
          タップする場所を変えることで発射する玉の位置を変えて鳥をやっつけるアプリ。
          </dd>
      </dl>

      <dl>
        <dt><a href="https://itunes.apple.com/it/app/magicnumber/id556818950?mt=8">MagicNumber</a></dt>
        <dd>
        脳トレアプリ part 1
        </dd>
      </dl>

      <dl>
        <dt><a href="https://itunes.apple.com/jp/app/id647679700">つみ算の達人</a></dt>
        <dd>
        脳トレアプリ part 2
        </dd>
      </dl>
    </div>
  </div>

  <div class="row">


    <div class="twelve cols">

    <h2>Webアプリ？？？</h2>

      <dl>
        <dt><a href="http://whispering-ridge-5404.herokuapp.com/">Javascript Weekly Client</a></dt>
        <dd>
        Javascript Weeklyを無限に読むことができるアプリ。<a href="https://play.google.com/apps/publish/?dev_acc=04748976333442632202#AppListPlace" style="display: inline-block;">Android版</a>も作った。
        </dd>
      </dl>
    </div>
  </div>



  <div class="row">

    <div class="twelve cols">

    <h2>謎のプログラム</h2>


      <dl>
        <dt><a href="https://github.com/okamurayasuyuki/static_blog">static_blog</a></dt>
        <dd>
        このブログエンジン(Python製)。
        </dd>
      </dl>

      <dl>
        <dt><a href="https://github.com/okamurayasuyuki/orig_template">orig_template</a></dt>
        <dd>
        partial templateのクライアントサイドに保存する版。
        </dd>
      </dl>


    </div>
  </div>


  </div>



</div>
</div>
{% endblock %}




