{% extends "base.html" %}
{% block content %}

<div class="page">
<div id="profile">
  <div class="row">
    <div class="twelve cols">
      <hgroup>
        <h1>Profile</h1>
      </hgroup>
    </div>
  </div>

  <div class="row">
    <div class="twelve cols">
      <h3>近況</h3>
      <p>
        最近はiPhoneアプリ開発とかをやっています。
      </p>
      <p>
        また、ハローワークの求職者訓練にも通っています。
      </p>
    </div>
  </div>

  <div class="row">
    <div class="twelve cols">
      <h3>趣味</h3>
      <p>
        ダンス、岡村靖幸、散歩、喫茶店めぐり、Programmingあたりです。
      </p>
    </div>
  </div>


  <div class="row">
    <div class="twelve cols">
      <h3>連絡先</h3>
      <ul>
        <li><a href="mailto:haradashinya@gmail.com">E-mail</a></li>
        <li><a href="https://twitter.com/outsider_0219">Twitter</a></li>

    </div>
  </div>



</div>
</div>
{% endblock %}




