{% extends "base.html" %}
{% block content %}
{# <section class="item clearfix"> #}
{# <h1><a href="http://ero300.me" target="_blank">OPython</a></h1> #}
{# <p>タイトル通りのサービス。</p> #}
{# </section> #}
<section class="item clearfix">
<h1><a href="https://github.com/okamurayasuyuki/pblog">pblog</a></h1>
<p><a href="http://flask.pocoo.org/">Flask</a> と <a href="http://pythonhosted.org/Flask-FlatPages/">Flask-FlatPage</a>による最小限のCMS。このブログの元コード。30行程度の実装になっている。</p>
</section>

<section class="item clearfix">
<h1><a href="https://itunes.apple.com/us/app/fan-yinyusu/id547876926?mt=8">翻訳ニュース</a></h1>
<p>VOAニュースを使った英語学習のiPhoneアプリ。エキサイト翻訳を使用している。</p>
</section>

<section class="item clearfix">
<h1><a href="https://github.com/okamurayasuyuki/orig_template">orig_template</a></h1>
<p>Minimal template engine for client side.</p>
{% endblock content %}

